[submodule "repos/development"]
	path = repos/development
        url = git://github.com/viking/blit-dev.git
[submodule "repos/test"]
	path = repos/test
        url = git://github.com/viking/blit-dev.git
